* { 
    outline: 1px solid red;    
}

#shop {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    margin: 1rem;
}

.shopHeader {
    grid-column-start: span 3;
}

.shopContent {
    display: flex;
    flex-wrap: wrap;
}

.productsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    gap: 1rem;

}

.productCard {
    display: flex;
    flex-direction: column;
    max-width: 100px;
}

.productRating {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100px;
}
