#headerElement {
    position: sticky;
    background-color: forestgreen;
    min-width: 100%;
    max-height: 15vh;
    height: 100%;
}

.headerLayout {
    display: flex;
    gap: 8px;
    padding: 1rem;
}